*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

.container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.container .navbar {
    width: 100%;
    height: 50px;
    background-color: black;
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 0 12px;
}

.container .navbar a {
    display: inline-flex;
    align-items: center;
    padding: 0 12px;
    color: white;
    font-size: large;
    line-height: 50px;
    text-decoration: none;
    text-align: center;
}

.container .navbar a:hover {
    background-color: green;
}

.container .navbar .login {
    margin-left: auto;
    transition: opacity 0.3s ease;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.container .navbar .login.user-logged-in {
    background-color: #2c3e50;
    font-weight: bold;
}

.container .navbar .login.user-logged-in:hover {
    background-color: #34495e;
}

.container .navbar .login.loading {
    opacity: 0.7;
    pointer-events: none;
}

.container .part1 {
    width: 100%;
    flex: 1;
    display: flex;
    overflow: hidden;
}

.container .part1 .left_desc {
    width: 50%;
    height: 100%;
    overflow: auto;
}

.container .part1 .left_desc h3 {
    padding-top: 10px;
    padding-left: 10px;
}

.container .part1 .left_desc pre {
    padding-top: 10px;
    padding-left: 10px;
    font-size: medium;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container .part1 .right_code {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.container .part1 .right_code .ace_editor {
    flex: 1;
    height: auto;
}
.container .part2 {
    width: 100%;
    overflow: hidden;
    padding: 8px 12px;
}

.container .part2 .result {
    width: 300px;
    float: left;
}

.container .part2 .btn-submit {
    width: 120px;
    height: 50px;
    font-size: large;
    float: right;
    background-color: #26bb9c;
    color: #FFF;
    border: 0px;
    margin-top: 10px;
    margin-right: 10px;
}
.container .part2 button:hover {
    color:green;
}

.container .part2 .result {
    margin-top: 15px;
    margin-left: 15px;
}

.container .part2 .result pre {
    font-size: large;
}

@media (max-width: 768px) {
    .container .navbar a {
        width: 70px;
        font-size: medium;
    }
    .container .navbar .login {
        width: 100px;
        font-size: small;
    }
    .container .part1 {
        height: auto;
    }
    .container .part1 .left_desc,
    .container .part1 .right_code {
        width: 100%;
        float: none;
        height: auto;
    }
    .container .part1 .right_code .ace_editor {
        height: 400px;
    }
}

@media (max-width: 480px) {
    .container .navbar a {
        width: 50px;
        font-size: small;
    }
    .container .navbar .login {
        width: 90px;
        font-size: x-small;
    }
    .container .part1 .right_code .ace_editor {
        height: 300px;
    }
    .container .part2 .btn-submit {
        width: 100px;
        height: 40px;
        font-size: medium;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .container .navbar a {
        width: 75px;
        font-size: large;
    }
    .container .navbar .login {
        width: 110px;
    }
}

